$danger: teal;
@import "~bootstrap/scss/bootstrap";

$header-color: rgb(248, 107, 12);
$font-stack:    Helvetica, sans-serif;

@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.input-group>.form-control {
    width: 20rem;
}

.input-group {
    width: 15rem;
    margin-bottom: 0.5rem;
}

.top-nav {
    margin: 0;
    width: 100%;
    text-align: center;
    color: $header-color;
    font-size: 3rem;
    padding-top: 1rem;
    font-family: $font-stack;
    font-weight: bolder;
}

html,
body {
    height: 100%;
   @include cover-background('https://images.unsplash.com/photo-1560243367-b5608ac0d63e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80');
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.display-error{
    margin: 0.5rem;
}

.card-text-top {
    margin-bottom: 0;
}

.card-text-bottom {
    margin-bottom: 1rem;
}

.card {
    width: 20rem;
}

.card-img-top {
    max-width: 20rem;
    max-height: 20rem;
}

.loader {
    border: 20px solid #460808;
    border-radius: 70%;
    border-top: 16px solid #e229f3;
    width: 50px;
    height: 75px;
    animation: spin 2s linear infinite;
   
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.display-error {
    margin: 1rem;
    color: red;
    font-size: 1.5rem;
}
